#nav-bar {
  position: fixed;
  width: 100%;
  background-color: #36384C;
  height: 80px;
  color: #e8fdff;
  padding: 0em 2em;
  z-index: 999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 75px;
}

#nav-bar .compose {
  float:right;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #eee;
  color: #36384C;
}

#nav-bar .compose:hover {
 color: black;
 border-color: black;
}