.new-tweet{
  padding: 20px;
  background-color: #eee;
  border-radius: 15px;
  border: 2px solid #7b99ae;
  display: none;
}

.new-tweet h2 {
border-bottom: solid black;
border-bottom-width: thin;
}

.new-tweet textarea {
  padding: 10px;
  width: 100%;
}

.counter {
  float: right;
}

